lightning-bolts==0.7.0
lightning-utilities==0.11.8
pytorch-lightning==1.9.5
matplotlib==3.9.2
numpy==1.24.2
scipy==1.14.1
scikit-learn==1.5.2
scprep==1.2.3
scanpy==1.10.3
pot==0.9.5
torchdiffeq==0.2.4
absl-py==2.1.0
clean-fid==0.1.35
zuko==1.2.0
torchdyn==1.0.6 
omegaconf
hydra-core
wandb
neptune
black